@charset "utf-8";
/* CSS Document */



body,html {

width:100%;
height:100%;
margin:0;
padding: 0;
background: linear-gradient(-45deg, #AFC59B, #9FC557);
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/* Main formular start */

#WrapperCenter {
	
width:800px;
height:550px;
/*background:red;*/
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;

}

.text {
	
text-align: center;
vertical-align: middle;
line-height: 200px;  
font-size:80px;
font-family:Verdana, Geneva, sans-serif;

}

#centerButtons {
	
text-align:center;
width:500px;
height:200px;
background:#CCC;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;

}

#playButton {
	
width:405px;	
padding:15px 20px;
margin-top:40px;
cursor:pointer;	
	
}

#rulesButton {
	
width:405px;	
padding:15px 20px;
margin-top:20px;
cursor:pointer;	
	
}

/* ModalBkg Rules */
.modalBkg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Rules Content */
.modal-content {
	
	background-color: #fefefe;
    padding:20px;
    border:1px solid #888;
    width:50%;
	height:50%;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Main formular end */
