@charset "utf-8";
/* CSS Document */

body,html {

margin:0;
overflow:hidden;  
width: 100%;
height: 100%;
background:url(../img/bkgJungle.png) center / cover no-repeat;

}

@font-face {
    font-family: Lapsus;
    src:url(../LapsusPro-Bold.otf);
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.bkg1 {
	
margin:0;
width: 100%;
height: 100%;
background: url(../img/bkgForTable.png) center / contain no-repeat ;	
	
}

.bkg2 {

margin:0;
width: 100%;
height: 100%;
background: url(../img/bkgJungle.png) center / cover no-repeat ;	
	
}

#leftBox {

width:20%;
height:100%;
float:left;

}

#centerBox {

width:80%;
height:100%;
float:right;

}

#centerWrapper {

text-align:center;
width:75%;
height:100%;
float:left;

}

#tableBox {
	
width:100%;
height:100%;
text-align: center;	
display: flex;
justify-content: center;

}


table {

border-radius: 20px;
border:5px solid rgba(94, 77, 54, 0.5);
/*border-collapse: collapse;*/
width:60%;
height:60%;
align-self: center;
padding:12px;

}

td {
	
white-space: nowrap;
border-radius:20px;
/*border: 1px black solid ;*/
  
}

td:hover {

background-color:rgba(204,204,204,0.3);	
	
}

#scoreBox {

width:25%;
height:100%;
float:right;

}

#scoreHalf1 {

width:100%;
height:50%;
/*background:blue;*/

}

#scoreHalf2 {

width:100%;
height:50%;
/*background:blue;*/

}

#scoreTime {
	
position: absolute;
left: 0;
right: 0;
margin: auto;
width:100px;
/*border:1px solid blue;*/
font-size:25px;
font-family:Lapsus;
color:rgba(76, 76, 76, 0.4);
	
}

#scoreUI {
	
width:220px;
height:220px;
background:url(../img/scoreIMG.png) center / contain no-repeat;
position:fixed;
bottom:0;
right:0;
margin-right:50px;

}

#resetButton {
	
margin:auto;
display:block;	
cursor:pointer;	
font-family:Lapsus;
font-size:55px;
width:150px;
border: none;
background:none;
outline:none;
transition: all 0.7s;
color:#4A5656;
	
}

#resetButton:hover {
	
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
color:#3A4444;
	
}

#progressWrapper {
	
width: 80%;
height: 30px;
margin:auto;
background-color:#97A4A5;
border-radius:5px;

}

#progress {
	
background-color:rgba(255,255,255,1);
width:100%;
height:30px;
border-radius:5px;
  
}

.scoreTitle {

margin-top:10px;
font-family:Lapsus;
font-size:35px;
color:white;
text-align:center;	
	
}

#scoreMain {

width:80%;
/*border:1px solid red;*/
margin:auto;
display:block;	
margin-top:;
font-family:Lapsus;
font-size:35px;
color:white;
text-align:center;	
	
}


#soundButton {
	
float:Right;
height:80px;
width:80px;
background:url(../img/soundON.png);
border: none;
outline:none;
cursor:pointer;	
transition: all 0.7s;
	
}

#soundButton:hover {
	
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
background:url(../img/soundHover.png);
	
}

#gameOverBkg {

display: none; 
position: fixed;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4);

}

#gameOverMenu {

/*border:1px solid red;*/
width:650px;
height:600px;
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
	
}

#gameOverTitle {
	
text-align:center;
vertical-align:middle;
font-family:Lapsus;
font-size:140px;
line-height:120px;
height:20%;
color:white;
-moz-animation: fadein 1s; /* Firefox */
-webkit-animation: fadein 1s; /* Safari and Chrome */
-o-animation: fadein 1s; /* Opera */
 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


#gameOverContent {
	
background-color: #fefefe;
width:100%;
height:80%;
margin: auto;
font-family:Lapsus;
-moz-animation: fadein 2s; /* Firefox */
-webkit-animation: fadein 2s; /* Safari and Chrome */
-o-animation: fadein 2s; /* Opera */
padding-top:40px;
border-radius:10px;
 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


#scoreTitle {
	
text-align:center;	
font-size:80px;
margin-top:40px;
	
}

#gameOverScore {
	
text-align:center;	
font-size:80px;
margin-top:10px;
	
}

.nickname {
	
display:block;
margin:0 auto;
font-family:Lapsus;
font-size: 25px;
outline: 0;
border-width: 0 0 2px;
border-color:rgba(204,204,204,0.2);
-transition: border-color 1s ease;
-moz-transition: border-color 0.4s ease;
 -o-transition: border-color 0.4s ease;
-ms-transition: border-color 0.4s ease;
transition: border-color 0.4s ease;    

}

.nickname:focus {
	
border-color:rgba(204,204,204,1);

}

.nickname:hover {
	
border-color:rgba(204,204,204,0.6);

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity:0.35;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity:0.35;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity:0.35;
}
:-moz-placeholder { /* Firefox 18- */
  opacity:0.35;
}

#replayButton {
	
margin:auto;
display:block;	
cursor:pointer;	
font-family:Lapsus;
font-size:55px;
border: none;
background:none;
outline:none;
transition: all 0.7s;
color:#C1C1C1;
margin-top:50px;
	
}

#replayButton:hover {

-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
color:#A5A5A5;
	
}

