@charset "utf-8";
/* CSS Document */

body,html {

width:100%;
margin:auto;

}

#tableBox {

position:absolute;
left:50%;
top:50%;
margin-left:-400px; /* -1/2 width */
margin-top:-400px; /* -1/2 height */
<<<<<<< HEAD
text-align: center;
=======
text-align: center;	
	
>>>>>>> b603fe9be3ea068a4508aa80eca242cfab058d28
}

table {

height:800px;
width:800px;

}
