@charset "utf-8";
/* CSS Document */

body,html {

width:100%;
height:100%;
overflow:hidden;  
margin:0;
padding: 0;
background: url(../img/bkgJungle.png) center / cover no-repeat ;

}

@font-face {
    font-family: Lapsus;
    src:url(../LapsusPro-Bold.otf);
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


#WrapperCenter {
	
/*border:1px solid red;*/
width:50%;
height:80%;
margin:auto;
position: absolute;
top: 0; 
left: 0;
bottom: 0; 
right: 0;

}

#mainLogo {

/*border:1px solid blue;*/
height:280px;
width:100%;
margin:auto;
text-align:center;
background:url(../img/logo.png) center / contain no-repeat;
margin-bottom:15px;
	
}

#buttonsCenter {

/*border:1px solid yellow;*/
width:400px;
height:250px;
background:url(../img/bkgCenterBox.png);
margin: auto;

}

#buttonsWrapper {

margin:auto;
width:300px;
/*background:red;*/
padding-top:6px;
	
}


input[type=button] {
	
margin:auto;
display:block;
margin-top:10px;
cursor:pointer;	
font-family:Lapsus;
font-size:55px;
border: none;
background:none;
outline:none;
transition: all 0.7s;
color:#594830;
	
}

input[type=button]:hover {
	
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
color:white;
	
}

.modalBkg {
	
display: none; 
position: fixed;
z-index: 1; 
padding-top: 100px;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4);
	
}

.modal-content {
	
background-color: #A8C45C;
border:1px solid #888;
width:650px;
height:450px;
margin: auto;
font-family:Lapsus;
border-radius:10px;
padding:20px;
border:none;

}

.modal-content2 {
	
background-color: #A8C45C;
padding:20px;
border:1px solid #888;
width:650px;
height:450px;
margin: auto;
font-family:Lapsus;
border-radius:10px;
border:none;

}


.close {
	
color: #879B3E;
float: right;
font-size: 28px;
font-weight: bold;
	
}

.close2 {
	
color: #879B3E;
float: right;
font-size: 28px;
font-weight: bold;
	
}

.close:hover,
.close:focus {
	
color:#748431;
text-decoration: none;
cursor: pointer;

}

.close2:hover,
.close2:focus {
	
color:#748431;
text-decoration: none;
cursor: pointer;
	
}

h1 {

text-align:center;
color:white;	
font-size:35px;
	
}

table {

table-layout:fixed;
border-collapse:collapse;
width:300px;
height:370px;
margin:auto;
color:white;
font-size:23px;
	
}

td {

width:50px;	
text-align:center;


}

.imageWrapper {

width:180px;
height:70px;
margin:auto;
margin-top:15px;
/*border:1px solid red;*/

}

#rulesWrapper {

width:620px;
height:300px;
/*background:red;*/
padding:10px;
margin-top:30px;

}


.rulesTitle {

text-align:center;
color:white;
font-size:35px;
margin-top:25px;
	
}

.imgWrapper {

width:60%;
height:100%;
background:url(../img/tutorial.png) center / contain no-repeat;
float:left;

}

.textWrapper {
	
width:40%;
height:100%;
float:right;	
font-size:23px;
color:white;
	
}

.tutorialHand {

width:100px;
height:100px;
background:url(../img/pointer.png) center / contain no-repeat;
margin:auto;
margin-top:120px;
position: relative;
-webkit-animation-name: tutorial; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
animation-name: tutorial;
animation-duration: 3s;
animation-iteration-count:infinite;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes tutorial {
  0%   {left:0px; top:0px;}
  25%  {left:90px; top:0px;}
  50%  {left:0px; top:0;}

}

/* Standard syntax */
@keyframes tutorial {
  0%   {left:0px; top:0px;}
  25%  {left:90px; top:0px;}
  50%  {left:0px; top:0;}
}
