@charset "utf-8";
/* CSS Document */

body,html {

width:100%;
height:100%;
overflow:hidden;  
margin:0;
padding: 0;
background: linear-gradient(-45deg, #B2C66A, #9FC557);
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;

}

@font-face {
    font-family: Lapsus;
    src:url(../LapsusPro-Bold.otf);
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.bkg1 {
	
margin:0;
width: 100%;
height: 100%;
background: url(../img/bkgJungle.png) center / cover no-repeat ;	
	
}


#WrapperCenter {
	
width:800px;
height:550px;
margin:auto;
position: absolute;
top: 0; 
left: 0;
bottom: 0; 
right: 0;

}

#mainLogo {

height:150px;
width:400px;
margin:auto;
text-align:center;
	
}

#centerButtons {
	
text-align:center;
width:400px;
height:250px;
background:url(../img/bkgCenterBox.png);
margin: auto;
position: absolute;
top: 0; 
left: 0; 
bottom: 0; 
right: 0;

}

input[type=button] {
	
margin:auto;
display:block;
margin-top:15px;
cursor:pointer;	
font-family:Lapsus;
font-size:55px;
width:150px;
border: none;
background:none;
outline:none;
transition: all 0.7s;
color:#594830;
	
}

input[type=button]:hover {
	
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
color:#4F3E2A;
	
}

.modalBkg {
	
display: none; 
position: fixed;
z-index: 1; 
padding-top: 100px;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4);
	
}


.modal-content {
	
background-color: #fefefe;
padding:20px;
border:1px solid #888;
width:650px;
height:450px;
margin: auto;
font-family:Lapsus;

}

.modal-content2 {
	
background-color: #fefefe;
padding:20px;
border:1px solid #888;
width:650px;
height:450px;
margin: auto;
font-family:Lapsus;

}


.close, .close2 {
	
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
	
}

.close:hover,
.close:focus {
	
color: #000;
text-decoration: none;
cursor: pointer;

}

.close2:hover,
.close2:focus {
	
color: #000;
text-decoration: none;
cursor: pointer;
	
}

h1 {

text-align:center;	
	
}

table {

table-layout:fixed;
border-collapse:collapse;
width:300px;
height:370px;
margin:auto;
	
}

td {

width:50px;	
text-align:center;
border:1px solid rgba(204,204,204,0.6);

}

.imageWrapper {

width:180px;
height:70px;
margin:auto;
margin-top:15px;
/*border:1px solid red;*/

}

img {
	
float:left;	
	
}

.imageText {
	
float:right;
font-size:25px;
margin-top:20px;
	
}


